<section class="i-hero i-home-section">
    <div class="i-hero-inner-border">
        <div></div>
    </div>
    <div class="i-hero-grid-flex">
        <div class="i-hero-grid">
            <div class="i-hero-text">
                <p>Hello, I'm Ryan.</p>
                <p>I'm a Developer Experience Engineer at the open source, publishing platform <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></p>
                <p>I love building websites and apps with <span class="i-js">JavaScript</span> and sharing what I learn ❤️</p
                >
                <p><a href="#/portal/subscribe">Subscribe to my newsletter</a> for some fun, essential tutorials on web dev &amp; design or just check out some of my favorite articles 👇</p>
            </div>
            <div class="i-hero-img-wrapper">
                <picture class="i-hero-img">
                    <source 
                        srcset="{{img_url @site.cover_image size="m" format="avif"}} 500w,
                                {{img_url @site.cover_image size="l" format="avif"}} 700w,
                                {{img_url @site.cover_image size="xl" format="avif"}} 1000w,
                                {{img_url @site.cover_image size="xxl" format="avif"}} 2000w"
                        sizes="(max-width: 992px) 100vw, (max-width: 1600px) 100px, (max-width: 2200px) 2000px, 2000px" 
                        type="image/avif"
                    >
                    <source 
                        srcset="{{img_url @site.cover_image size="m" format="webp"}} 500w,
                                {{img_url @site.cover_image size="l" format="webp"}} 700w,
                                {{img_url @site.cover_image size="xl" format="webp"}} 1000w,
                                {{img_url @site.cover_image size="xxl" format="webp"}} 2000w"
                                sizes="(max-width: 992px) 100vw, (max-width: 1600px) 1000px, (max-width: 2200px) 2000px, 2000px"
                        type="image/webp"
                    >
                    <img class="i-hero-img" src="{{img_url @site.cover_image size="xxl"}}" alt="{{#if cover_image_caption}}{{cover_image_caption}}{{/if}}" width="1920" height="1080" />
                </picture>
            </div>
        </div>
        <div class="i-card-grid">
            {{#get "posts" filter="featured:true" include="tags" limit="3" as |featured|}}
            {{#foreach featured}}
                {{> "line-card"}}
            {{/foreach}}
            {{/get}}
        </div>
    </div>
</section>

